USE [BT4]
GO
/****** Object:  Table [dbo].[ChiTietDT]    Script Date: 18/09/2018 7:34:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDT](
	[DTDuThi] [tinyint] NOT NULL,
	[DienGiaiDT] [nvarchar](255) NULL,
	[DiemUT] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSach]    Script Date: 18/09/2018 7:34:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSach](
	[SoBD] [int] NOT NULL,
	[Ho] [nvarchar](15) NULL,
	[Ten] [nvarchar](7) NULL,
	[Phai] [bit] NOT NULL,
	[NTNS] [datetime] NULL,
	[DTDuThi] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiemThi]    Script Date: 18/09/2018 7:34:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemThi](
	[SoBD] [int] NOT NULL,
	[Toan] [real] NULL,
	[Van] [real] NULL,
	[AnhVan] [real] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietDT] ([DTDuThi], [DienGiaiDT], [DiemUT]) VALUES (1, N'Đối tượng thuộc diện chính sách', 2)
INSERT [dbo].[ChiTietDT] ([DTDuThi], [DienGiaiDT], [DiemUT]) VALUES (2, N'Đối tượng thuộc diện chính sáchĐối tượng thuộc diện chính sách', 1)
INSERT [dbo].[ChiTietDT] ([DTDuThi], [DienGiaiDT], [DiemUT]) VALUES (3, N'Học sinh phổ thông', 0)
INSERT [dbo].[DanhSach] ([SoBD], [Ho], [Ten], [Phai], [NTNS], [DTDuThi]) VALUES (1, N'Nguyen Viet', N'Hong', 0, CAST(N'1981-04-04T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[DanhSach] ([SoBD], [Ho], [Ten], [Phai], [NTNS], [DTDuThi]) VALUES (2, N'Nguyen Hong', N'Hanh', 1, CAST(N'1982-03-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[DanhSach] ([SoBD], [Ho], [Ten], [Phai], [NTNS], [DTDuThi]) VALUES (3, N'Nguyen Minh', N'Quang', 0, CAST(N'1982-07-10T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[DiemThi] ([SoBD], [Toan], [Van], [AnhVan]) VALUES (1, 8, 5, 8)
INSERT [dbo].[DiemThi] ([SoBD], [Toan], [Van], [AnhVan]) VALUES (2, 6.5, 7, 5)
INSERT [dbo].[DiemThi] ([SoBD], [Toan], [Van], [AnhVan]) VALUES (3, 7.5, 6.5, 4)
GO
