USE [BT7]
GO
/****** Object:  Table [dbo].[tbl Chi Tiet Hoa Don]    Script Date: 27/09/2018 1:48:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl Chi Tiet Hoa Don](
	[MaHD] [nvarchar](5) NULL,
	[MaSP] [tinyint] NULL,
	[SoLuong] [tinyint] NULL,
	[GiaBan] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl Hoa Don]    Script Date: 27/09/2018 1:48:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl Hoa Don](
	[MaHD] [nvarchar](5) NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaNV] [int] NULL,
	[NgayLapHD] [datetime] NULL,
	[NgayGiaoHang] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl Khach Hang]    Script Date: 27/09/2018 1:48:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl Khach Hang](
	[MaKH] [nvarchar](10) NULL,
	[TenCty] [nvarchar](40) NOT NULL,
	[DiaChi] [nvarchar](60) NULL,
	[ThanhPho] [nvarchar](15) NULL,
	[DienThoai] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl Nhan Vien]    Script Date: 27/09/2018 1:48:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl Nhan Vien](
	[MaNV] [int] NOT NULL,
	[Ho] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[Phai] [bit] NOT NULL,
	[NgayNV] [datetime] NULL,
	[DiaChi] [nvarchar](60) NULL,
	[DienThoai] [nvarchar](7) NULL,
	[Hinh] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl San Pham]    Script Date: 27/09/2018 1:48:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl San Pham](
	[MaSP] [tinyint] NULL,
	[TenSP] [nvarchar](15) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[GiaMua] [money] NULL,
	[Hinh] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[tbl Chi Tiet Hoa Don] ([MaHD], [MaSP], [SoLuong], [GiaBan]) VALUES (N'10526', 5, 30, 13.1800)
INSERT [dbo].[tbl Chi Tiet Hoa Don] ([MaHD], [MaSP], [SoLuong], [GiaBan]) VALUES (N'10526', 8, 10, 102.9800)
INSERT [dbo].[tbl Chi Tiet Hoa Don] ([MaHD], [MaSP], [SoLuong], [GiaBan]) VALUES (N'10528', 4, 3, 62.6100)
GO
INSERT [dbo].[tbl Hoa Don] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10144', N'RUBIMEX', 7, CAST(N'1997-01-06T00:00:00.000' AS DateTime), CAST(N'1997-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tbl Hoa Don] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10145', N'SAMACO', 9, CAST(N'1997-01-08T00:00:00.000' AS DateTime), CAST(N'1997-02-05T00:00:00.000' AS DateTime))
INSERT [dbo].[tbl Hoa Don] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10148', N'VITICO', 1, CAST(N'1997-01-13T00:00:00.000' AS DateTime), CAST(N'1997-02-10T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tbl Khach Hang] ([MaKH], [TenCty], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'AGROMAS', N'Cơ điện nông nghiệp 03', N'311 Hai Bà Trưng P8 Q3', N'TP HCM', N'088970364')
INSERT [dbo].[tbl Khach Hang] ([MaKH], [TenCty], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'ALSIMES', N'Giày An lạc', N'761 Trần Hưng Đạo P1', N'Huế', N'0548456005')
INSERT [dbo].[tbl Khach Hang] ([MaKH], [TenCty], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'ASC', N'Du lịch An Phú', N'233 Nguyễn Trãi P2', N'Nha Trang', N'0588124780')
