USE [master]
GO
/****** Object:  Database [BT8]    Script Date: 24/03/2017 10:19:37 SA ******/
CREATE DATABASE [BT8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BT8', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\BT8.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BT8_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\BT8_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BT8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BT8]
GO
USE [BT8]
GO
/****** Object:  Table [dbo].[tChiTietNhanVien]    Script Date: 24/03/2017 10:19:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[ChucVu] [nvarchar](3) NULL,
	[HSLuong] [tinyint] NULL,
	[MucDoCV] [nvarchar](2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 24/03/2017 10:19:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[PHAI] [bit] NOT NULL,
	[NTNS] [datetime] NULL,
	[NgayBD] [datetime] NULL,
	[MaPB] [nvarchar](2) NULL,
	[HINH] [image] NULL,
	[GHI CHU] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhongBan]    Script Date: 24/03/2017 10:19:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhongBan](
	[MaPB] [nvarchar](2) NOT NULL,
	[TENPB] [nvarchar](30) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV]) VALUES (N'001', N'NV', 4, N'C1')
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV]) VALUES (N'002', N'NV', 5, N'C3')
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV]) VALUES (N'003', N'NV', 3, N'C2')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB]) VALUES (N'KH', N'Phòng Kinh tế Kế hoạch')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB]) VALUES (N'KT', N'Phòng Kế toán Tài chánh')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB]) VALUES (N'TC', N'Phòng Tổ chức Nhân sự')
USE [master]
GO
